.conformance-level {
	display:inline;
}

.change {
	display:inline;
}

.new {
    border: medium solid #008000;
}
.proposed {
    border: medium solid #D34245;
}
section.new, section.proposed {
    padding: 1em;
    margin-top: 1em;
}
dt.new, dt.proposed {
    border-bottom: none;
}
dd.new, dd.proposed {
    border-top: none;
    margin-left: 0;
    padding-left: 2em;
}
.doclinks {
	float: right;
	border: thin solid black;
	font-size: x-small;
	display: block;
	max-width: 25%;
	hyphens: none;
}
.sc dt {
	display: list-item;
	list-style-type: disc;
	float: left;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 1ex;
	line-height: 1.5;
}
.sc dt:after {
	content: ":";
}
div.note-title, div.ednote-title {
	color: #008400
}

ol.common_purposes, ol.common_input_purposes {
  counter-reset: number;
}
ol.common_purposes li {
  list-style: none;
  counter-increment: number;
}
ol.common_purposes li::before {
  content: "CCP" counter(number) ": ";
  position: relative;
}

ol.common_purposes li::before {
  content: "CICP" counter(number) ": ";
  position: relative;
}
